h1{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(169, 244, 160);
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 90px;
    padding: 10px;
    border-radius: 30px;

    /* background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    padding: 40px; */
}
h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(169, 244, 160);
    color: rgb(0, 0, 0);
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;

    /* background-color: rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    padding: 40px; */
}
body{
    background-image: url(quimica2.png);
    text-align: center;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/* #o1{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(236, 237, 238);
    color: rgb(0, 0, 0);
    text-align: center;
}
#o2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(236, 237, 238);
    color: rgb(0, 0, 0);
}
#o3{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(236, 237, 238);
    color: rgb(0, 0, 0);
}
#o4{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(236, 237, 238);
    color: rgb(0, 0, 0);
} */
.opciones{
    /* display: flex;
    align-items: center; */
    /* text-align: center; */
    
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(3, 239, 121);
    color: rgb(0, 0, 0);
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;

}
.opciones2{
    /* display: flex;
    align-items: center; */
    /* text-align: center; */
    
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(3, 239, 121);
    color: rgb(0, 0, 0);
    margin: 30px;
    /* margin-left: 50px; */
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

}
.mensajes{
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgb(252, 252, 8); */
    color: rgb(0, 0, 0);
    margin: 30px;
    margin-left: 300px;
    margin-right: 280px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.mensajes2{
    font-family: 'Courier New', Courier, monospace;
    /* background-color: rgb(252, 252, 8); */
    color: rgb(0, 0, 0);
    margin: 10px;
    margin-left: 57%;
    margin-right: 210px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
/* #preguntas{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 30px;
    margin-left: 300px;
    margin-right: 280px;
    padding: 20px;
    border-radius: 5px;
} */
.continuar{
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    padding: 20px;
    padding-left: 300px;
    padding-right: 300px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
.container{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 1px;
    padding-bottom: 60px;
    border-radius: 100px;
}
.container2{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 1px;
    padding-bottom: 60px;
    border-radius: 100px;
}
.containerOp{
    background-color: rgba(230, 226, 226, 0.6);
    margin-left: 50%;
    margin-right: 148px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 100px;
}

#confirmar{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(169, 244, 160);
    color: rgb(0, 0, 0);
    margin: 30px;
    
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}


